.card {
    display: flex;
    flex-direction: column;
    flex-basis: 30em;
    max-width: 30em;
    margin: 0 0 2rem 2rem;
    padding: 24px;
    box-shadow: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
    border: none;
    background: #ffffff;
}

.card__header {
    display: flex;
    width: 100%;
}

.card__title {
    margin: 0;
    color: #101928;
    font-size: 18px;
}

.card__content {
    display: flex;
    width: 100%;
    flex-direction: column;
}